<section>
  <article class="space-y-4">
    <p class="animate">
      I come packed with full type safety, a sitemap, an rss feed, markdown and
      mdx support (use components in your markdown) through astro integrations.
      I am styled with tailwind and come preconfigured with light, dark and
      system/os theme preferences out of the box.
    </p>
  </article>
</section>
